
body {
  background-color: #f2f2f2;
  font-family: 'Rubik', sans-serif;
}

.auth .brand-logo {
  margin-bottom: 2rem;
  text-align: center;
}

.auth .brand-logo img {
  width: 150px;
}

.auth-form-light {
  background: #ffffff;
  border-radius: 10px;
}

.auth-form-light .form-control {
  background: #f2f2f2;
  border: none;
  height: 50px;
  font-size: 16px;
}

.auth-form-light .form-control:focus {
  background: #e6e5f2;
  border-color: #4599cd;
  box-shadow: none;
}

.auth-form-btn {
  height: 50px;
  font-size: 16px;
  font-weight: 500;
}

.auth-link {
  font-size: 14px;
}